*{
    margin: 0;
    padding: 0;
    
   
    
}

a{
    text-decoration: none;
    color: aliceblue;
    
    
   
}
.first{
    background: url(img/main.png);
    height: 800px;
   
   
    
}
.top_menu{
    background-color: rgba(00, 91, 193, 0.6);
    padding: 40px 0px;
    display: flex;
    
}
.top_menu_inner{
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;
    width: 450px;
    display: flex;
    
}

.top_menu img{
    width: 150px;
    top: 11px;
    left: 40px;
    position: absolute;
    
   
} 
.menu{
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;
    width: 450px;
    display: flex;
    
}

.first_content{
    background-color: rgba(00, 91, 193, 0.6);
    width: 300px;
    height: 93vh;
    position: absolute;
    margin-left: 350px;
}
.first_content-text{
    position: relative;
    margin-left: 470px;
    margin-top: 130px;
}
.first_content-h1{
    color: seashell;
    font-size: 48px;
    width: 600px;
}

.first_content-p{
    color: seashell;
    font-size: 16px;
    width: 500px;
    margin-bottom: 50px;
    margin-top: 30px;
}
.first_content-btn{
    border: 2px solid seashell;
    padding: 10px 20px;
    transform:0.2 ease;
    
}
.first_content-btn:hover{
    background-color: seashell;
    color: black;
}




/* slider*/

.container {
    width: 800px;
    margin: 0 auto;
    }
    
    .slider {
    margin-top: 50px;
    }
    
    .slider-top {
        display: flex;
        justify-content: space-between;
        }
        
        .slider-top__left {
        display: flex;
        align-items: center;
        }
        
        .slider-top__left img{
        margin-right: 20px;
        }
        
        .slider-top__left p {
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        }
        .slide{
            display: flex;
        }
        .slide img{
            margin-right: 10px;
            width: 500px;
            margin-top: 20px;
        }
        .slider-top__btn__left {
            font-size: 20px;
            font-weight: 700;
            padding: 5px 10px;
            border: 1px solid #005BC1;
            color: #005BC1;
            text-decoration: none;
            }
            
            .slider-top__btn__right {
            font-size: 20px;
            font-weight: 700;
            transform: rotate(180deg);
            padding: 5px 10px;
            border: 1px solid #005BC1;
            color: #005BC1;
            text-decoration: none;
            }
            
            .slider-top__btn__right {
            border-right: none;
            }
            
            .slider-top__btn {
            display: flex;
            align-items: center;
            }
        
.catalog{
    margin-top: 50px;
    width: 800px;
    margin: 0 auto;
    
}
.catalog-top__left{
    display: flex;
        align-items: center;
        margin-top: 50px;
        }
.catalog-top__left p{
    font-size: 20px;
}
.catalog-top__left img{
    margin-right: 20px;
    }