*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing:border-box;

}

a{
    text-decoration: none;
    color: aliceblue;
    
    
}
.first{
    background: url(img/main.png);
    height: 800px;
    
    
}
.top_menu{
    background-color: rgba(00, 91, 193, 0.6);
    padding: 40px 0px;
    display: flex;
    
}

.top_menu_inner{
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;
    width: 450px;
    display: flex;
    
}

.top_menu img{
    width: 150px;
    top: 11px;
    left: 40px;
    position: absolute;
} 
.menu{
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;
    width: 450px;
    display: flex;
    font-family: 'Open Sans' sans-serif;
    
}

.first_content img{
    position: absolute;
    max-height: 699px;
    margin-left: 205px;

}
.first_content-text{
    position: relative;
    margin-left: 470px;
    margin-top: 130px;
}
.first_content-h1{
    color: seashell;
    font-size: 48px;
    width: 600px;
}

.first_content-p{
    color: seashell;
    font-size: 16px;
    width: 500px;
    margin-bottom: 50px;
    margin-top: 30px;
}
.first_content-btn{
    border: 2px solid seashell;
    padding: 10px 20px;
    transform:0.2 ease;
    
}
.first_content-btn:hover{
    background-color: seashell;
    color: black;
}




/* slider*/

.container {
    max-width: 1100px;
    margin: 0 auto;

}

.slider {
    margin-top: 50px;
}

.slider-top {
    display: flex;
    justify-content: space-between;
}

.slider-top__left {
    display: flex;
    align-items: center;
    }
        
.slider-top__left img{
    margin-right: 20px;
}

.slider-top__left p {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}
.slide{
    display: flex;
}
.slide img{
    margin-right: 20px;
    width: 540px;
    margin-top: 20px;
}
.slider-top__btn img{
    display: flex;
    
}
.slider-top__btn {
    display: flex;
    align-items: center;
    }
.slider-top__btn__right img{
    transform: rotate(180deg);
}        

.slide{
    max-height: 540px;
    max-width: 400px;
    margin-top: 50px;
}


  /* rent */


.rent{
    max-width: 1110px;
    max-height: 478px;
    margin: 0 auto;
    margin-top: 90px;
}
.rent-top{
    display: flex;
    justify-content: space-between;


}

.rent-top__left{
    display: flex;
    align-items: center;
}
.rent-top__left img{
    margin-right: 20px;
}
.rent-top__left p{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #343434;
}
.rent-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

    
}

.rent-left {
    font-size: 18px;
    max-width: 300px;
    max-height: 175px;

}
.rent-right{
    border: 2px solid #005BC1;
    padding: 25px 35px 65px;
    max-width: 665px;
    max-height: 394px;

}

.rent-right_top{
    display: flex;
    justify-content: space-between;
}
.rent-right_top p{
    margin-right: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
.rent-right__mid__left img{
    max-height: 250px;
    max-width: 255px;
}
.rent-right__mid__left{
    margin-top: 40px; 
    max-height: 250px;
    max-width: 255px;
}
.rent-right__mid{
    display: flex;
}
.rent-right__mid__right{
    max-width: 330px;
    max-height: 152px;
    margin-top: 45px;
    margin-left: 40px;
}
.rent-right__mid__right li{
    font-size: 14px;
    color: #343434;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
}
.rent-right__mid__right p{
    font-family: 'Oswald', sans-serif;
    margin-left: 30px;
    font-size: 16px;
}


  /* news */
.news {
    max-width: 1110px;
    max-height: 478px;
    margin: 0 auto;
    margin-top: 90px;
    }
    
    .news-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    }
    
    .news-top__left {
    display: flex;
    align-items: center;
    }
    .news-top__left img{
        margin-right: 20px;
    }
    .news-top__left p {
        font-family: 'Oswald', sans-serif;
        font-size: 30px;
        color: #343434;
    }
    
    .news-top__btn {
    text-decoration: none;
    color: #fff;
    background-color: #005BC1;
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    }
    
    .news-main {
    display: flex;
    }
    
    .news-main__left {
    display: flex;
    width: 450px;
    align-items: center;
    }
    
    .news-main__left img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    padding: 0;
    }
    
    .news-main__left__text {
    padding-top: -20px;
    width: 200px;
    }
    
    .news-main__left__text__top {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    justify-content: space-between;
    }
    
    .news-main__left__text__top h1 {
    color: #343434;
    font-size: 14px;
    }
    
    .news-main__left__text__top p {
    color: #979797;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    }
    
    .news-main__left__text__mid p {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #343434;
    
    }
    
    .news-main__left__text__mid a {
    text-decoration: none;
    color: #343434;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    }
    
    .news-main__right {
    display: flex;
    }
    
    .news-main__right__left {
    margin-left: 20px;
    }
    
    .news-main__right__left h1 {
    color: #343434;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    }
    
    .news-main__right__left p {
    color: #343434;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    }
    
    .news-main__right__left__down {
    display: flex;
    }
    
    .news-main__right__left__down img {
    width: 125px;
    height: 125px;
    }
    
    .news-main__right__left__down p {
    color: #979797;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    }
    .footer {
        background-color: #005BC1;
    }
    
    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #fff;
        padding-top: 20px;
    }
    
    .footer-top p:first-child {
        font-family: 'Oswald', sans-serif;
        color: #fff;
        font-size: 18px;
    }
    
    .footer-top p:nth-child(2) {
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
    }
    
    .footer-top p:nth-child(3) {
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
    }
    
    .footer-mid {
        width: 600px;
        display: flex;
        padding: 20px 0 20px;
    }
    
    .footer-mid div {
        display: flex;
        flex-direction: column;
        margin-right: 50px;
    }
    
    .footer-mid a {
        text-decoration: none;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
    }
    
    .footer-down {
        border-top: 1px solid #fff;
        display: flex;
        justify-content: space-between;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
    }
    
